/round0_50pts_variable_lnl_result.json
/parser.py
/pygtc.py
/round11_325pts_variable_lnl_result.json
/round36_950pts_highres_result.json
/simulation_posteriors.pdf
/simulation_posteriors.png
__pycache__/
/detection_matrix/plot.py
*.py
*.png
